{% extends "base.html" %}
{% block title %} Ajouter un client {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter un nouveau client
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.name_client_wtf.label }}<br>
						{{ form.name_client_wtf(size=32) }}<br>
						{% for error in form.name_client_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<p>
						{{ form.Prenom_wtf.label }}<br>
						{{ form.Prenom_wtf(size=32) }}<br>
						{% for error in form.Prenom_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<p>
						{{ form.Nom_wtf.label }}<br>
						{{ form.Nom_wtf(size=32) }}<br>
						{% for error in form.Nom_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<p>
						{{ form.Date_Naissance_wtf.label }}<br>
						{{ form.Date_Naissance_wtf }}<br>
						{% for error in form.Date_Naissance_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

