{% extends "base.html" %}
{% block title %} Afficher Mails {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Mail à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
						{% for entite in data[0] %}
						<th class="align-middle">
							{{ entite }}
						</th>
						{% endfor%}
						<th class="align-middle">

						</th>
					</tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						{% for dataRow in dataRow %}
						<td class="align-middle">
							{{ row[dataRow] }}
						</td>
						<td class="align-middle">
							{{ row_mail }}
						</td>
						{% endfor %}
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('mail_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('mail_update_wtf', id_mail_btn_edit_html=row.id_mail) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('mail_delete_wtf', id_mail_btn_delete_html=row.id_mail) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun mail.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('mail_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

