{% extends "base.html" %}
{% block title %} Afficher ADRESSE {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  id
						</th>
						<th class="" >
						  rue
						</th>
						<th class="" >
						  numero
						</th>
						<th class="" >
						  npa
						</th>
						<th class="" >
						  ville
						</th>
						<th class="" >
						  pays
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_adresse }}
					  </th>
					  <th class="align-middle">
						{{ row.rue }}
					  </th>
					  <th class="align-middle">
						{{ row.numero|default("", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.npa|default("", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.ville|default("", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.pays|default("", True) }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('adresse_ajouter_wtf') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('adresse_update_wtf', id_adresse_btn_edit_html=row.id_adresse) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('adresse_delete_wtf', id_adresse_btn_delete_html=row.id_adresse) }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_client_adresse_selected', id_client_adresse_edit_html=row.id_adresse) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.ClientAdresse|default("PAS D'ADRESSE", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucune adresse.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
