{% extends "base.html" %}
{% block title %} Acceuil {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Base de donnée entreprise<br>
			</h3>
			<ul>
				<li class="list-item">
					Lire le readme.md
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
