{% extends "base.html" %}
{% block title %} Afficher ADRESSE {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  id
						</th>
						<th class="" >
						  mail
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_mail }}
					  </th>
					  <th class="align-middle">
						{{ row.mail }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('mail_ajouter_wtf') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('mail_update_wtf', id_mail_btn_edit_html=row.id_mail) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('mail_delete_wtf', id_mail_btn_delete_html=row.id_mail) }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_client_mail_selected', id_client_mail_edit_html=row.id_mail) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.Clientmail|default("PAS DE MAIL", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun mail.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
