{% extends "base.html" %}
{% block title %} Ajouter une adresse {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter une nouvelle adresse
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.rue_wtf.label }}<br>
						{{ form.rue_wtf(size=32) }}<br>
						{% for error in form.rue_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<p>
						{{ form.numero_wtf.label }}<br>
						{{ form.numero_wtf(size=32) }}<br>
						{% for error in form.numero_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<p>
						{{ form.npa_wtf.label }}<br>
						{{ form.npa_wtf(size=32) }}<br>
						{% for error in form.npa_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<p>
						{{ form.ville_wtf.label }}<br>
						{{ form.ville_wtf }}<br>
						{% for error in form.ville_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<p>
						{{ form.pays_wtf.label }}<br>
						{{ form.pays_wtf }}<br>
						{% for error in form.pays_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

